# IP on all int
bind-address            = 0.0.0.0

# TLS Options
ssl-ca = /etc/mysql/my-own-ca.crt
ssl-cert = /etc/mysql/server.crt
ssl-key = /etc/mysql/server.key
tls_version = TLSv1.3
require-secure-transport = on
